

<div class="stories">
    <div class="story-header">
        <a style="font-weight:bold;" href="#">Stories</a>
        <div>
            <a href="#">Archive</a>
            <a href="#">Settings</a>
        </div>
    </div>

    <div class="story-item add-story">
        <div class="storyitem-img">
            <div class="storyitem-imgsetting" style="text-align: center;">
               
                <i style="font-size:32px; color:#7dcea0" class="fas fa-plus"></i>
            </div>

        </div>
        <div class="storyitem-body">
            <span class="storyitem-header">
                Add Story
            </span>
            <div class="storyitem-text">
                Write Something...
            </div>
        </div>
    </div>

    <div class="story-item">
        <div class="storyitem-img">
            <div class="storyitem-imgsetting">
                <img class="scale-img" style="width:48px;height:48px;" src="~/Content/images/groups/group-interrail.jpg" />
            </div>

        </div>
        <div class="storyitem-body">
            <span class="storyitem-header">
                Interrail Turkey
            </span>
            <div class="storyitem-text">
                7 hours ago
            </div>
        </div>
    </div>

    <div class="story-item">
        <div class="storyitem-img">
            <div class="storyitem-imgsetting">
                <img class="scale-img" style="width:48px;height:48px;" src="~/Content/images/groups/grup-iku.png" />
            </div>

        </div>
        <div class="storyitem-body">
            <span class="storyitem-header">
                Kültür University
            </span>
            <div class="storyitem-text">
                14 hours ago
            </div>
        </div>
    </div>

    <div class="story-item">
        <div class="storyitem-img">
            <div class="storyitem-imgsetting">
                <img class="scale-img" style="width:48px;height:48px;" src="~/Content/images/groups/grup-treehub.jpg" />
            </div>

        </div>
        <div class="storyitem-body">
            <span class="storyitem-header">
                Tree Hub
            </span>
            <div class="storyitem-text">
                20 Hours ago
            </div>
        </div>
    </div>
</div>