
@model ParlanceNet.Models.ViewModels.GlobalViewModel


<div class="container-future">
    <div class="future-item" style="margin-bottom:15px">
        <img class="rounded-circle" width="20" height="20" src="~/Content/images/userp.png" alt="Alternate Text" />
        <h6>@Model.session.Fullname</h6>
    </div>
    <div class="future-item">
        <i class="fas fa-newspaper fa-fw"></i>
        <h6 style="font-weight:bold">News</h6>
    </div>
    <div class="future-item">
        <i style="color:#00abff !important;" class="fas fa-comment-dots fa-fw"></i>
        <h6>Messenger</h6>
    </div>
    <div class="future-item">
        <i class="fas fa-tv fa-fw"></i>
        <h6 ">Watch</h6>
    </div>
    <div class="future-item">
        <i style="color:#38a28d !important" class="fas fa-store-alt fa-fw"></i>
        <h6>Marketplace</h6>
    </div>



    <div>
        <h5 style="color: #616770;margin-left: 5px;margin-top:15px;">Shortcuts</h5>
        <div class="future-item">
            <i class="fas fa-comment-dots fa-fw"></i>
            <h6>Tree Hub</h6>
        </div>
    </div>


    <div>
        <h5 style="color: #616770;margin-left: 5px;margin-top:15px;">Discover</h5>
        <div class="future-item">
            <i style="color:#f37b2b !important;" class="fas fa-flag fa-fw"></i>
            <h6>Pages</h6>
        </div>
        <div class="future-item">
            <i class="fas fa-users fa-fw"></i>
            <h6>Groups</h6>
        </div>
        <div class="future-item">
            <i style="color:#ed2651 !important" class="far fa-calendar-alt fa-fw"></i>
            <h6>Events</h6>
        </div>
        <div class="future-item">
            <i class="fas fa-history fa-fw"></i>
            <h6>Memories</h6>
        </div>

    </div>


</div>