


<div class="egogrup-card">
    <div class="reqfriend-head">
        <p>Recommend Groups</p>
        <div>
            <a href="#">See All</a>
        </div>
    </div>

    <div class="egogrup-container">
        @for (int i = 0; i < 3; i++)
        {

            <div class="egogrup-item">
                <img src="~/Content/images/fbegogr1.jpg" style="width:100%;height:150px;" />
                <div class="egogrupitem-body">
                    <div class="egogrupitem-header">
                        <a href="#">Test Group</a>
                        <div>4.684 subscriber</div>
                    </div>
                    <div class="egogrupitem-btns">
                        <span>
                            <button type="button" class="btn btn-light egogrupitem-btn">Follow</button>
                        </span>
                    </div>
                </div>
            </div>

        }

    </div>
</div>